{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-header bg-dark text-white">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <form method="post" class="p-4">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="card-footer text-center bg-light">
                            <button type="submit" class="btn btn-success">Login</button>
                            <a href="#" class="btn btn-danger">Forgot your password?</a>
                        </div>
                    </form>
                    <div class="card-footer text-center">
                        <p class="mb-0">To access the website, please create an account.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
