{% extends 'base.html' %}

{% block title %} List of incomes {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for income in all_income %}
                    <div class="col-md-4 py-1">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">{{ income.name }}</h5>
                                    <div>
                                        <a class="btn btn-info btn-sm" href="{% url 'update-income' income.id %}"><i class="material-icons">update</i></a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'delete-income' income.id %}"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                                <p class="card-text">Date: {{ income.date_time | date:'d-m-Y' }}</p>
                                <p class="card-text">Category: {{ income.category }}</p>
                                <p class="card-text">Value: {{ income.value }}</p>
                                <p class="card-text">Family Member: {{ income.family_member }}</p>
                                <p class="card-text">Type: {{ income.type }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}