.table th {
    background-color: #080808;
    color: #fff;
    padding: 10px;
    text-align: left;
}


.card-body {
    background-color: #ececec;
}

.card-header.text-center {
    font-weight: bold;
}

