{% extends 'base.html' %}

{% block title %} Details - {{ invitation }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                        View details
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <a class="btn btn-danger"
                               href="{% url 'detail-family' family.id %}?before={{ previous }}"><</a>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-danger" href="{% url 'detail-family'  family.id %}?before={{ next }}">></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart" width="400" height="250"></canvas>
                        <a href="{% url 'list-family' %}" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const data = {
            labels: {{ pie.labels|safe }},
            datasets: [{
                label: '',
                data: {{ pie.budget_value|safe }},
                backgroundColor: ['#000080', '#800020', '#228B22', '#800080', '#008080', '#DC143C',
                    '#FFDB58', '#0000CD', '#8B0000', '#008000', '#EE82EE', '#40E0D0', '#FF4500', '#708090'],
                hoverOffset: 4
            }]
        };
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'doughnut',
            data: data,
        });

    </script>

{% endblock %}