{% extends 'base.html' %}
{% load static %}

{% block title %} List of families {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for family in all_family %}
                    <div class="col-md-4 py-4">
                        <div class="card row gx-2 gy-0">
                            <div class="card-header bg-dark text-white text-center" style="font-size: 24px;">{{ family.name }}</div>
                            <div class="card-body">
                                <div class="d-flex justify-content-end">
                                    {# Poate implementam detail view #}
                                    <a class="btn btn-warning btn-sm" href="{% url 'detail-family' family.id %}">
                                        <i class="material-icons">info</i></a>
                                    <a class="btn btn-info btn-sm" href="{% url 'update-family' family.id %}"><i
                                            class="material-icons">update</i></a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'delete-family' family.id %}"><i
                                            class="material-icons">delete</i></a>
                                </div>
                                <h5>Head of the family: {{ family.owner }}</h5>
                                <hr>
                                <p>Members: {{ family.members_str }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
