{% extends 'base.html' %}
{% load static %}

{% block title %} List of families {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for family in all_family %}
                {% if family.owner == family_user %}
                <div class="col-md-4 py-4">
                    <div class="card row gx-2 gy-0">
                        <div class="card-header text-center" style="font-size: 24px;">{{ family.name }}</div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end">
                                {# Poate implementam detail view #}
                                <a class="btn btn-warning" href="{% url 'week-family-budget'  %}">
                                    <i class="bi bi-info-circle-fill"></i></a>
                                <a class="btn btn-info" href="{% url 'update-family' family.id %}"><i
                                        class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger" href="{% url 'delete-family' family.id %}"><i
                                        class="bi bi-trash"></i></a>
                            </div>
                            <h5>Head of the family: {{ family.owner }}</h5>
                            <hr>
                            <p>Members: {{ family.members_str }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
