{% extends 'base.html' %}
{% load static %}
{% block title %} Day Category Budget {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-4">
                <div class="card" style="width: 500px; height: 500px;">
                    <div class="card-body">
                        <div class="row justify-content-between">
                        </div>
                        <h5 class="card-title text-center">Daily budget of categories in <span class="material-symbols-outlined">euro_symbol</span></h5>
                        <canvas id="myChart" width="200" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const data = {
            labels: {{ labels_day|safe }},
            datasets: [{
                label: 'Pie',
                data: {{ budget_value|safe }},
                backgroundColor: ['#000080', '#800020', '#228B22', '#800080', '#008080', '#DC143C',
                    '#FFDB58', '#0000CD', '#8B0000', '#008000', '#EE82EE', '#40E0D0', '#FF4500', '#708090'],
                hoverOffset: 4
            }]
        };
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'doughnut',
            data: data,
        });

    </script>

{% endblock %}
