{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header text-center">
                        Popular Categories
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Categories</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in category_order %}
                                <tr>
                                    <td>{{ category.category__name }}</td>
                                    <td>{{ category.total_value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header text-center">Total budget weekly</div>
                    <div class="card-body">
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                More details
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="{% url 'day' %}">Daily</a></li>
                                <li><a class="dropdown-item"
                                       href="{% url 'week' %}">Weekly</a></li>
                                <li><a class="dropdown-item"
                                       href="{% url 'month' %}">Monthly</a></li>
                                <li><a class="dropdown-item"
                                       href="{% url 'year' %}">Yearly</a></li>
                            </ul>
                        </div>
                        <canvas id="myChartTotalBudget" width="100" height="50"></canvas>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header text-center">Weekly budget profit</div>
                    <div class="card-body">
                        <a class="btn btn-dark" href="{% url 'week-profit' %}">More details</a>
                        <canvas id="myChartWeekProfit" width=100" height="50"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header text-center">Average budget weekly</div>
                    <div class="card-body">
                        <a class="btn btn-dark" href="{% url 'week-average' %}">More details</a>
                        <canvas id="myChartWeekAverage" width="100" height="50"></canvas>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header text-center">Monthly budget savings rate</div>
                    <div class="card-body">
                        <a class="btn btn-dark" href="{% url 'month-econrate' %}">More details</a>
                        <canvas id="myChartMonthEcon" width="100" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChartTotalBudget');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ chart.labels|safe }},
                datasets: [{
                    label: 'Budget',
                    data: {{ chart.budget_value|safe }},
                    backgroundColor: '#9fd3c7',
                    borderColor: '#a2a8d3',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <script>
        const ctx1 = document.getElementById('myChartWeekProfit');

        new Chart(ctx1, {
            type: 'line',
            data: {
                labels: {{ line.labels|safe }},
                datasets: [{
                    label: 'Budget',
                    data: {{ line.budget_value|safe }},
                    backgroundColor: '#9fd3c7',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <script>
        const ctx2 = document.getElementById('myChartWeekAverage');

        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: {{ chart.labels|safe }},
                datasets: [{
                    label: 'Budget',
                    data: {{ chart.budget_value2|safe }},
                    backgroundColor: '#9fd3c7',
                    borderColor: '#a2a8d3',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <script>
        const ctx3 = document.getElementById('myChartMonthEcon');

        new Chart(ctx3, {
            type: 'line',
            data: {
                labels: {{ line_month.labels|safe }},
                datasets: [{
                    label: 'Rate %',
                    data: {{ line_month.budget_value2|safe }},
                    backgroundColor: '#9fd3c7',
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

{% endblock %}
