{% extends 'base.html' %}

{% block title %} Popular Categories {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Categories</th>
                        <th>Total Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in category_order %}
                        <tr>
                            <td>{{ category.category__name }}</td>
                            <td>{{ category.total_value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}