{% extends 'base.html' %}
{% load static %}
{% block title %} Total Budget Week {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <div class="card" style="width: 50rem;">
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <a class="btn btn-danger"
                                   href="{% url 'week-family-budget' %}?before={{ previous }}"><</a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-danger" href="{% url 'week-family-budget' %}?before={{ next }}">></a>
                            </div>
                        </div>
                        <h5 class="card-title text-center">Total budget weekly family</h5>
                        <canvas id="myChart" width="400" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const data = {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Category',
                data: {{ budget|safe }},
                backgroundColor:['#000080', '#800020', '#228B22', '#800080', '#008080', '#DC143C',
                    '#FFDB58', '#0000CD', '#8B0000', '#008000', '#EE82EE', '#40E0D0', '#FF4500', '#708090'],
                hoverOffset: 4
            }]
        };
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'doughnut',
            data: data,
        });

    </script>


{% endblock %}
