{% extends 'base.html' %}
{% load static %}
{% block title %} Category Week Average {% endblock %}
{% block content %}
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-6 offset-md-3">
               <div>
                   <a class="btn btn-danger" href="{% url 'week-category-average' %}?before={{ previous }}"><</a>
                   <a class="btn btn-danger" href="{% url 'week-category-average' %}?before={{ next }}">></a>
               </div>
               <canvas id="myChartWeekCategoryAverage" width="400" height="250"></canvas>
           </div>
       </div>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script>
       const ctx = document.getElementById('myChartWeekCategoryAverage');

       new Chart(ctx, {
           type: 'radar',
           data: {
               labels: {{ labels_week|safe }},
               datasets: [{
                   label: 'Category Average',
                   data: {{ budget_value|safe }},
                   backgroundColor: 'rgba(75, 192, 192, 0.2)',
                   borderColor: 'rgba(75, 192, 192, 1)',
                   borderWidth: 1
               }]
           },
           options: {
               scales: {
                   x: {
                       beginAtZero: true,
                       ticks: {
                           precision: 0
                       }
                   },
                   y: {
                       beginAtZero: true
                   }
               }
           }
       });

   </script>

{% endblock %}
