{% extends 'base.html' %}
{% load static %}
{% block title %} Category Week Average {% endblock %}
{% block content %}
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-6 offset-md-3">
                <div class="card" style="width: 43rem;">
                    <div class="card-body" style="height: 48rem">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <a class="btn btn-danger" href="{% url 'week-category-average' %}?before={{ previous }}"><i class="material-icons">arrow_back</i></a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-danger" href="{% url 'week-category-average' %}?before={{ next }}"><i class="material-icons">arrow_forward</i></a>
                            </div>
                        </div>
                        <h5 class="card-title text-center">Average budget per weekly category</h5>
                        <canvas id="myChartWeekCategoryAverage" width="400" height="150"></canvas>
                    </div>
                </div>
           </div>
       </div>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script>
       const ctx = document.getElementById('myChartWeekCategoryAverage');

       new Chart(ctx, {
           type: 'radar',
           data: {
               labels: {{ labels_week|safe }},
               datasets: [{
                   label: 'Category Average',
                   data: {{ budget_value|safe }},
                   backgroundColor: '#9fd3c7',
                   borderColor: 'rgba(75, 192, 192, 1)',
                   borderWidth: 1
               }]
           },
           options: {
               scales: {
                   x: {
                       beginAtZero: true,
                       ticks: {
                           precision: 0
                       }
                   },
                   y: {
                       beginAtZero: true
                   }
               }
           }
       });

   </script>

{% endblock %}
