{% extends 'base.html' %}
{% load static %}
{% block title %} Total Year Budget {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <div class="card" style="width: 700px; height: 400px;">
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <a class="btn btn-danger" href="{% url 'year' %}?before={{ previous }}"><i class="material-icons">arrow_back</i></a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-danger" href="{% url 'year' %}?before={{ next }}"><i class="material-icons">arrow_forward</i></a>
                            </div>
                            <h5 class="card-title text-center">Total budget yearly in <span class="material-symbols-outlined">euro_symbol</span></h5>
                            <canvas id="myChart" width="400" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels_year|safe }},
                datasets: [{
                    label: 'Budget',
                    data: {{ budget_value|safe }},
                    backgroundColor: '#9fd3c7',
                    borderColor: '#a2a8d3',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

{% endblock %}
